* {
	margin: 0;
	padding: 0;
}

.button {
	padding: 0.5em;
}

#cemetery {
	display: grid;
	grid-template-columns: repeat(24, 1fr);
	/* bottom h2 in 20em but intended for 7em once we have a 4th grave */
    grid-template-rows: 50px 20em 20em 7em;
}

.cemH2 {
	grid-column: span 24;
	padding-right: 13em;
	text-align: right;
	color: red;
}

.gravestone {
	/*margin: 1em 2em;*/
	/*padding: 40px;*/
	filter: drop-shadow(15px 10px 2px #A9A9A9);
	border: 1px solid black;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	color: #F5F5F5;
	background-color: gray;
	transition: color 1s, background 1s, filter 1s linear;
	p {
		margin-top: 50px;
	}
}

.gravestone:hover {
	filter: drop-shadow(0 0 0.75rem gray);
	color: black;
	background-color: red;
}

.specificApp {
	padding: 2em;
}

.challengeHeader {
	padding: 1em;
	background-color: blue;
}
